<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Artefact AI</title>
</head>
<body>
    <div class="container">
        <h1>Artefact AI</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">ANALIZEAZĂ ARTEFACTUL </button>
        </form>
        <div class="footer-links">
            <a href="/history">Vezi Colecția Mea →</a>
        </div>
    </div>
</body>
</html>